.centeredGrid {
    display: grid;
	place-items: center;
    grid-template-columns: 100%;
}

.cardWhite {
	margin: 30px 30px 60px 30px;
	padding: 20px;
	color: #0a0a0a;
	background-color: #fefefe;
	border-radius: 6px;
}